---
import Layout from '../layouts/Layout.astro';

let get_products: any;
let products: any;

let get_user_data: any;
let user_data: any;

let id_user = Astro.cookies.get("ID-USER")?.value;

if(!id_user){
	return Astro.redirect("/SignIn")
}

try{
	get_products = await fetch(`http://localhost:4000/products?id_user=${id_user}`);
	products = await get_products.json();

	get_user_data = await fetch(`http://localhost:4000/users/data?id_user=${id_user}`);
	user_data = await get_user_data.json();
	user_data = user_data[0];

	if(!user_data){
		throw new Error("User not found");
	}

}catch(e){
	Astro.cookies.delete("ID-USER");
	return Astro.redirect("/SignIn");
}

function formatNumber(number: number) {
    if (number >= 1e9) {
        return (number / 1e9).toFixed(1).replace(/\.0$/, '') + 'B';
    } else if (number >= 1e6) {
        return (number / 1e6).toFixed(1).replace(/\.0$/, '') + 'M';
    } else if (number >= 1e3) {
        return (number / 1e3).toFixed(1).replace(/\.0$/, '') + 'K';
    } else {
        return number.toString();
    }
}

---

<Layout title="CRUD - BASICO">
	<section class="bg-transparent p-3 sm:p-5 antialiased">
		<div class="mx-auto max-w-screen-2xl px-4 lg:px-12">
			<div class="w-full h-fit mb-5 flex justify-between">
				<h1 class="text-2xl font-semibold text-white">Products</h1>

				<div class="flex gap-x-3 text-white justify-center items-center">
					<span class="text-white font-bold text-lg">
						{user_data.username}
					</span>

					<span id="logout" class="p-2 bg-blue-500 rounded-md cursor-pointer hover:bg-blue-600">
						<svg class="icon icon-tabler icons-tabler-outline icon-tabler-logout w-7 h-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="none"  stroke="white"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round">
							<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
							<path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" />
							<path d="M9 12h12l-3 -3" />
							<path d="M18 15l3 -3" />
						</svg>
					</span>
				</div>
			</div>
			<div class="bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden">
				<div class="flex flex-col md:flex-row items-stretch md:items-center md:space-x-3 space-y-3 md:space-y-0 justify-between mx-4 py-4 border-t border-gray-700">
					<div class="w-full md:w-1/2">
						<form class="flex items-center">
							<label for="simple-search" class="sr-only">Search</label>
							<div class="relative w-full">
								<div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
									<svg aria-hidden="true" class="w-5 h-5 text-gray-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
										<path fill-rule="evenodd" clip-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" />
									</svg>
								</div>
								<input type="text" id="simple-search" placeholder="Search for products" required="" class="border text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full pl-10 p-2 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500">
							</div>
						</form>
					</div>
					<div class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
						<button type="button" id="createProductButton" data-modal-toggle="createProductModal" class="flex items-center justify-center text-white bg-primary-700 focus:ring-4 font-medium rounded-lg text-sm px-4 py-2 bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-blue-800">
							<svg class="h-3.5 w-3.5 mr-1.5 -ml-1" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
								<path clip-rule="evenodd" fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" />
							</svg>
							Add product
						</button>

						<button id="deleteProductSelect" type="button" data-modal-target="delete-modal" data-modal-toggle="delete-modal" class="flex items-center border focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-3 py-2 text-center border-red-500 text-red-500 hover:text-white hover:bg-red-600 focus:ring-red-900">
							<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2 -ml-0.5" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
								<path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
							</svg>
							Delete Select
						</button>

						<button id="generateProducts" type="button" data-modal-target="delete-modal" data-modal-toggle="delete-modal" class="flex items-center border focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-3 py-2 text-center border-orange-500 text-orange-500 hover:text-white hover:bg-orange-600 focus:ring-orange-900">
							<svg  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-accessible h-4 w-4 mr-2 -ml-0.5"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M10 16.5l2 -3l2 3m-2 -3v-2l3 -1m-6 0l3 1" /><circle cx="12" cy="7.5" r=".5" fill="currentColor" /></svg>
							Generate
						</button>
					</div>
				</div>
				<div class="overflow-x-auto">
					<table id="table-products" class="w-full text-sm text-left text-gray-400">
						<thead class="text-xs uppercase bg-gray-700 text-gray-400">
							<tr>
								<th scope="col" class="p-4">
									<div class="flex items-center">
										<input id="checkbox-all" type="checkbox" class="w-4 h-4 text-primary-600 rounded focus:ring-primary-500 focus:ring-primary-600 ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
										<label for="checkbox-all" class="sr-only">checkbox</label>
									</div>
								</th>
								<th scope="col" class="p-4">Product</th>
								<th scope="col" class="p-4">Category</th>
								<th scope="col" class="p-4">Stock</th>
								<th scope="col" class="p-4">Sales/Day</th>
								<th scope="col" class="p-4">Sales/Month</th>
								<th scope="col" class="p-4">Rating</th>
								<th scope="col" class="p-4">Sales</th>
								<th scope="col" class="p-4">Revenue</th>
								<th scope="col" class="p-4">Last Update</th>
							</tr>
						</thead>
						<tbody id="body-products">
							{
								products.length > 0 ? (
									products.map((item: any) => (
										<tr class="border-b border-gray-600 hover:bg-gray-700" data-id={item.id_product}>
											<td class="p-4 w-4">
												<div class="flex items-center">
													<input data-id={item.id_product} id="checkbox-table-search" type="checkbox" onclick="event.stopPropagation()" class="w-4 h-4 text-primary-600 rounded focus:ring-primary-500 focus:ring-primary-600 ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600">
													<label for="checkbox-table-search" class="sr-only">checkbox</label>
												</div>
											</td>
											<th scope="row" class="px-4 py-3 font-medium whitespace-nowrap text-white">
												<div class="flex items-center mr-3">
													<img src={JSON.parse(item.images)[0] || "/favicon.svg"} alt={item.name} class="h-8 w-auto mr-3">
													{item.name}&#34;
												</div>
											</th>
											<td class="px-4 py-3">
												<span class="bg-primary-100 text-primary-800 text-xs font-medium px-2 py-0.5 rounded bg-primary-900 text-primary-300">{item.category}</span>
											</td>
											<td class="px-4 py-3 font-medium whitespace-nowrap text-white">
												<div class="flex items-center">
													{
														item.stock > 0 && item.stock < 50 ? (
															<div class="h-4 w-4 rounded-full inline-block mr-2 bg-red-700"></div>
														) : item.stock >= 50 && item.stock < 90 ? (
															<div class="h-4 w-4 rounded-full inline-block mr-2 bg-yellow-400"></div>
														) : (
															<div class="h-4 w-4 rounded-full inline-block mr-2 bg-green-400"></div>
														)
													}
													{item.stock}
												</div>
											</td>
											<td class="px-4 py-3 font-medium whitespace-nowrap text-white">{item.sales_day}</td>
											<td class="px-4 py-3 font-medium whitespace-nowrap text-white">{item.sales_month}</td>
											<td class="px-4 py-3 font-medium whitespace-nowrap text-white">
												<div class="flex items-center">
													<svg aria-hidden="true" class="w-5 h-5 text-yellow-400" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
														<path d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z" />
													</svg>
													<span class="text-gray-400 ml-1">{item.rating}</span>
												</div>
											</td>
											<td class="px-4 py-3 font-medium whitespace-nowrap text-white">
												<div class="flex items-center">
													<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" class="w-5 h-5 text-gray-400 mr-2" aria-hidden="true">
														<path d="M2.25 2.25a.75.75 0 000 1.5h1.386c.17 0 .318.114.362.278l2.558 9.592a3.752 3.752 0 00-2.806 3.63c0 .414.336.75.75.75h15.75a.75.75 0 000-1.5H5.378A2.25 2.25 0 017.5 15h11.218a.75.75 0 00.674-.421 60.358 60.358 0 002.96-7.228.75.75 0 00-.525-.965A60.864 60.864 0 005.68 4.509l-.232-.867A1.875 1.875 0 003.636 2.25H2.25zM3.75 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0zM16.5 20.25a1.5 1.5 0 113 0 1.5 1.5 0 01-3 0z" />
													</svg>
													{item.sales}
												</div>
											</td>
											<td class="px-4 py-3">${formatNumber(item.revenue)}</td>
											<td class="px-4 py-3 font-medium whitespace-nowrap text-white">
												<div class="flex items-center space-x-4">
													<button data-id={item.id_product} id="editProduct" type="button" data-drawer-target="drawer-update-product" data-drawer-show="drawer-update-product" aria-controls="drawer-update-product" class="py-2 px-3 flex items-center text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:outline-none bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">
														<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2 -ml-0.5" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
															<path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
															<path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
														</svg>
														Edit
													</button>
													<button data-id={item.id_product} id="previewProduct" type="button" data-drawer-target="drawer-read-product-advanced" data-drawer-show="drawer-read-product-advanced" aria-controls="drawer-read-product-advanced" class="py-2 px-3 flex items-center text-sm font-medium text-center focus:outline-none rounded-lg border hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200 focus:ring-gray-700 bg-gray-800 text-gray-400 border-gray-600 hover:text-white hover:bg-gray-700">
														<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24" fill="currentColor" class="w-4 h-4 mr-2 -ml-0.5">
															<path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
															<path fill-rule="evenodd" clip-rule="evenodd" d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z" />
														</svg>
														Preview
													</button>
													<button data-id={item.id_product} id="deleteProduct" type="button" data-modal-target="delete-modal" data-modal-toggle="delete-modal" class="flex items-center border focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-3 py-2 text-center border-red-500 text-red-500 hover:text-white hover:bg-red-600 focus:ring-red-900">
														<svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4 mr-2 -ml-0.5" viewbox="0 0 20 20" fill="currentColor" aria-hidden="true">
															<path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
														</svg>
														Delete
													</button>
												</div>
											</td>
										</tr>
									))
								) : (
									<tr class="border-b w-full border-gray-600 hover:bg-gray-700">
										<td class="p-4 w-full" colspan="10">
											<div class="flex items-center">
												<h1 class="text-base font-semibold">Not found products</h1>
											</div>
										</td>
									</tr>
								)
							}
						</tbody>
					</table>
				</div>	
			</div>
		</div>
	</section>

	<form id="createProductModal" tabindex="-1" aria-hidden="true" class="hidden animate-deployment overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100vh-1rem)] md:h-full">
		<div class="absolute top-0 w-full max-w-3xl h-full md:h-auto">
			<!-- Modal content -->
			<div class="relative p-4 rounded-lg shadow bg-gray-800 sm:p-5 overflow-y-auto max-h-full">
				<!-- Modal header -->
				<div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 border-gray-600">
					<h3 class="text-lg font-semibold text-white">Add Product</h3>
					<button type="button" id="closeCreateProductModal" class="text-gray-400 bg-transparent rounded-lg text-sm p-1.5 ml-auto inline-flex items-center hover:bg-gray-600 hover:text-white" data-modal-toggle="createProductModal">
						<svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
						</svg>
						<span class="sr-only">Close modal</span>
					</button>
				</div>
				<!-- Modal body -->
				<form action="#">
					<div class="grid gap-4 mb-4 sm:grid-cols-2">
						<div>
							<label for="name" class="block mb-2 text-sm font-medium text-white">Product Name</label>
							<input type="text" name="name" id="name" class="border text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500" placeholder="Type product name" required="">
						</div>
						<div><label for="category" class="block mb-2 text-sm font-medium text-white">Category</label><select id="category" name="category" class="border text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500"><option selected="">Select category</option><option value="TV">TV/Monitors</option><option value="PC">PC</option><option value="GAMING">Gaming/Console</option><option value="PHONES">Phones</option></select></div>
						<div>
							<label for="brand" class="block mb-2 text-sm font-medium text-white">Brand</label>
							<input type="text" name="brand" id="brand" class="border text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500" placeholder="Product brand" required="">
						</div>
						<div>
							<label for="price" class="block mb-2 text-sm font-medium text-white">Price</label>
							<input type="number" name="price" id="price" class="border text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500" placeholder="$2999" required="">
						</div>
						<div class="grid gap-4 sm:col-span-2 md:gap-6 sm:grid-cols-4">
							<div>
								<label for="weight" class="block mb-2 text-sm font-medium text-white">Item weight (kg)</label>
								<input type="number" name="weight" id="weight" class="border text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500" placeholder="12" required="">
							</div>
							<div>
								<label for="length" class="block mb-2 text-sm font-medium text-white">Lenght (cm)</label>
								<input type="number" name="length" id="length" class="border text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500" placeholder="105" required="">
							</div>
							<div>
								<label for="breadth" class="block mb-2 text-sm font-medium text-white">Breadth (cm)</label>
								<input type="number" name="breadth" id="breadth" class="border text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500" placeholder="15" required="">
							</div>
							<div>
								<label for="width" class="block mb-2 text-sm font-medium text-white">Width (cm)</label>
								<input type="number" name="width" id="width" class="border text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500" placeholder="23" required="">
							</div>
						</div>
						<div class="sm:col-span-2"><label for="description" class="block mb-2 text-sm font-medium text-white">Description</label><textarea id="description" name="description" rows="4" class="block p-2.5 w-full text-sm rounded-lg border focus:ring-primary-500 focus:border-primary-500 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500" placeholder="Write product description here"></textarea></div>
					</div>
					<div class="mb-4">
						<span class="block mb-2 text-sm font-medium text-white">Product Images</span>
						<div id="content-images-create" class="grid grid-cols-4 max-sm:grid-cols-4 max-[480px]:grid-cols-3 max-[380px]:grid-cols-2 gap-4 mb-4">
						</div>

						<div class="flex justify-center items-center w-full">
							<label for="dropzone_image" class="flex flex-col justify-center items-center w-full h-64 relative rounded-lg border-2 border-dashed cursor-pointer hover:bg-bray-800 bg-gray-700 border-gray-600 hover:border-gray-500 hover:bg-gray-600">
								<div class="flex flex-col justify-center items-center pt-5 pb-6">
									<div id="info_dropzone_image" class="flex flex-col justify-center items-center w-full h-full">
										<svg aria-hidden="true" class="mb-3 w-10 h-10 text-gray-400" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
											<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
										</svg>
										<p class="mb-2 text-sm text-gray-400">
											<span class="font-semibold">Click to upload</span>
											or drag and drop
										</p>
										<p class="text-xs text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
									</div>
									<img id="preview-dopzone-image" src="/favicon.svg" class="w-fit h-fit max-w-full max-h-full absolute hidden">
								</div>
								<input id="dropzone_image" name="dropzone_image" type="file" class="hidden" multiple>
							</label>
						</div>
					</div>
					<div class="items-center space-y-4 sm:flex sm:space-y-0 sm:space-x-4">
						<button type="submit" class="w-full sm:w-auto justify-center text-white inline-flex bg-primary-700 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Add product</button>
						<button id="discardProductCreate" data-modal-toggle="createProductModal" type="button" class="w-full justify-center sm:w-auto inline-flex items-center focus:ring-4 focus:outline-none rounded-lg border text-sm font-medium px-5 py-2.5 focus:z-10 bg-gray-700 text-gray-300 border-gray-500 hover:text-white hover:bg-gray-600 focus:ring-gray-600">
							<svg class="mr-1 -ml-1 w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
							</svg>
							Discard
						</button>
					</div>
				</form>
			</div>
		</div>
	</form>

	<form action="#" id="editProductModal" class="fixed top-0 left-0 z-40 w-full h-screen max-w-3xl p-4 overflow-y-auto transition-transform animate-displace-invert hidden flex-col bg-gray-800" tabindex="-1" aria-labelledby="drawer-update-product-label" aria-hidden="true">
		<h5 id="drawer-label" class="inline-flex items-center mb-6 text-sm font-semibold uppercase text-gray-400">New Product</h5>
		<button id="closeEditProductModal" type="button" data-drawer-dismiss="drawer-update-product" aria-controls="drawer-update-product" class="text-gray-400 bg-transparent rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center hover:bg-gray-600 hover:text-white">
			<svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
			</svg>
			<span class="sr-only">Close menu</span>
		</button>
		<div class="grid gap-4 sm:grid-cols-3 sm:gap-6 ">
			<div class="space-y-4 sm:col-span-2 sm:space-y-6">
				<div>
					<label for="name_product" class="block mb-2 text-sm font-medium text-white">Product Name</label>
					<input type="text" name="name_product" id="name_product" class="border text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500" value="Apple iMac 27&ldquo;" placeholder="Type product name" required="">
				</div>
				<div>
					<label for="description" class="block mb-2 text-sm font-medium text-white">Description</label>
					<div class="w-full border rounded-lg bg-gray-700 border-gray-600">
						<div class="flex items-center justify-between px-3 py-2 border-b border-gray-600">
							<div class="flex flex-wrap items-center sm:divide-x divide-gray-600">
								<div class="flex items-center space-x-1 sm:pr-4">
									<button type="button" class="p-2 rounded cursor-pointer text-gray-400 hover:text-white hover:bg-gray-600">
										<svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd" />
										</svg>
										<span class="sr-only">Attach file</span>
									</button>
									<button type="button" class="p-2 rounded cursor-pointer text-gray-400 hover:text-white hover:bg-gray-600">
										<svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
										</svg>
										<span class="sr-only">Embed map</span>
									</button>
									<button type="button" class="p-2 rounded cursor-pointer text-gray-400 hover:text-white hover:bg-gray-600">
										<svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" d="M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z" clip-rule="evenodd" />
										</svg>
										<span class="sr-only">Upload image</span>
									</button>
									<button type="button" class="p-2 rounded cursor-pointer text-gray-400 hover:text-white hover:bg-gray-600">
										<svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" d="M12.316 3.051a1 1 0 01.633 1.265l-4 12a1 1 0 11-1.898-.632l4-12a1 1 0 011.265-.633zM5.707 6.293a1 1 0 010 1.414L3.414 10l2.293 2.293a1 1 0 11-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0zm8.586 0a1 1 0 011.414 0l3 3a1 1 0 010 1.414l-3 3a1 1 0 11-1.414-1.414L16.586 10l-2.293-2.293a1 1 0 010-1.414z" clip-rule="evenodd" />
										</svg>
										<span class="sr-only">Format code</span>
									</button>
									<button type="button" class="p-2 rounded cursor-pointer text-gray-400 hover:text-white hover:bg-gray-600">
										<svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9a1 1 0 100-2 1 1 0 000 2zm7-1a1 1 0 11-2 0 1 1 0 012 0zm-.464 5.535a1 1 0 10-1.415-1.414 3 3 0 01-4.242 0 1 1 0 00-1.415 1.414 5 5 0 007.072 0z" clip-rule="evenodd" />
										</svg>
										<span class="sr-only">Add emoji</span>
									</button>
								</div>
								<div class="flex-wrap items-center hidden space-x-1 sm:flex sm:pl-4">
									<button type="button" class="p-2 rounded cursor-pointer text-gray-400 hover:text-white hover:bg-gray-600">
										<svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" d="M3 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
										</svg>
										<span class="sr-only">Add list</span>
									</button>
									<button type="button" class="p-2 rounded cursor-pointer text-gray-400 hover:text-white hover:bg-gray-600">
										<svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
											<path fill-rule="evenodd" d="M11.49 3.17c-.38-1.56-2.6-1.56-2.98 0a1.532 1.532 0 01-2.286.948c-1.372-.836-2.942.734-2.106 2.106.54.886.061 2.042-.947 2.287-1.561.379-1.561 2.6 0 2.978a1.532 1.532 0 01.947 2.287c-.836 1.372.734 2.942 2.106 2.106a1.532 1.532 0 012.287.947c.379 1.561 2.6 1.561 2.978 0a1.533 1.533 0 012.287-.947c1.372.836 2.942-.734 2.106-2.106a1.533 1.533 0 01.947-2.287c1.561-.379 1.561-2.6 0-2.978a1.532 1.532 0 01-.947-2.287c.836-1.372-.734-2.942-2.106-2.106a1.532 1.532 0 01-2.287-.947zM10 13a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
										</svg>
										<span class="sr-only">Settings</span>
									</button>
								</div>
							</div>
							<button type="button" data-tooltip-target="tooltip-fullscreen" class="p-2 rounded cursor-pointer sm:ml-auto text-gray-400 hover:text-white hover:bg-gray-600">
								<svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" d="M3 4a1 1 0 011-1h4a1 1 0 010 2H6.414l2.293 2.293a1 1 0 11-1.414 1.414L5 6.414V8a1 1 0 01-2 0V4zm9 1a1 1 0 010-2h4a1 1 0 011 1v4a1 1 0 01-2 0V6.414l-2.293 2.293a1 1 0 11-1.414-1.414L13.586 5H12zm-9 7a1 1 0 012 0v1.586l2.293-2.293a1 1 0 111.414 1.414L6.414 15H8a1 1 0 010 2H4a1 1 0 01-1-1v-4zm13-1a1 1 0 011 1v4a1 1 0 01-1 1h-4a1 1 0 010-2h1.586l-2.293-2.293a1 1 0 111.414-1.414L15 13.586V12a1 1 0 011-1z" clip-rule="evenodd" />
								</svg>
								<span class="sr-only">Full screen</span>
							</button>
							<div id="tooltip-fullscreen" role="tooltip" class="absolute z-10 invisible inline-block px-3 py-2 text-sm font-medium text-white transition-opacity duration-300 rounded-lg shadow-sm opacity-0 tooltip bg-gray-700" data-popper-reference-hidden="" data-popper-escaped="" data-popper-placement="bottom" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 335px, 0px);">
								Show full screen
								<div class="tooltip-arrow" data-popper-arrow=""></div>
							</div>
						</div>
						<div class="px-4 py-3 rounded-b-lg bg-gray-800"><textarea id="description_product" name="description_product" rows="8" class="block w-full px-0 text-sm border-0 bg-gray-800 focus:ring-0 text-white placeholder-gray-400" placeholder="Write product description here" required="">Standard glass, 3.8GHz 8-core 10th-generation Intel Core i7 processor, Turbo Boost up to 5.0GHz, 16GB 2666MHz DDR4 memory, Radeon Pro 5500 XT with 8GB of GDDR6 memory, 256GB SSD storage, Gigabit Ethernet, Magic Mouse 2, Magic Keyboard - US</textarea></div>
					</div>
				</div>
				<div class="mb-4">
					<span class="block mb-2 text-sm font-medium text-white">Product Images</span>
					<div id="content-images-edit" class="grid grid-cols-3 max-[380px]:grid-cols-2 gap-4 mb-4">
						<div class="relative p-2 rounded-lg sm:w-36 sm:h-36 bg-gray-700">
							<img src="https://flowbite.s3.amazonaws.com/blocks/application-ui/products/imac-side-image.png" alt="imac image">
							<button id="delete_image_edit" type="button" class="absolute text-red-500 hover:text-red-400 bottom-1 left-1">
								<svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
								</svg>
								<span class="sr-only">Remove image</span>
							</button>
						</div>
					</div>
					<div class="flex items-center justify-center w-full">
						<label for="image_product_edit" class="flex flex-col items-center justify-center w-full h-64 border-2 border-dashed rounded-lg cursor-pointer hover:bg-bray-800 bg-gray-700 border-gray-600 hover:border-gray-500 hover:bg-gray-600">
							<div class="flex flex-col items-center justify-center pt-5 pb-6">
								<svg aria-hidden="true" class="w-10 h-10 mb-3 text-gray-400" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
									<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12" />
								</svg>
								<p class="mb-2 text-sm text-gray-400">
									<span class="font-semibold">Click to upload</span>
									or drag and drop
								</p>
								<p class="text-xs text-gray-400">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
							</div>
							<input id="image_product_edit" type="file" class="hidden" multiple>
						</label>
					</div>
				</div>
			</div>
			<div class="space-y-4 sm:space-y-6">
				<div>
					<label for="brand_product" class="block mb-2 text-sm font-medium text-white">Brand</label>
					<input type="text" id="brand_product" name="brand_product" class="border text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500" value="Apple" placeholder="Product Brand" required="">
				</div>
				<div><label for="category" class="block mb-2 text-sm font-medium text-white">Category</label><select id="category_product" name="category_product" class="border text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500"><option selected="">Electronics</option><option value="TV">TV/Monitors</option><option value="PC">PC</option><option value="GA">Gaming/Console</option><option value="PH">Phones</option></select></div>
				<div>
					<label for="weight_product" class="block mb-2 text-sm font-medium text-white">Item Weight (kg)</label>
					<input type="number" name="weight_product" id="weight_product" class="border text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500" value="12" placeholder="Ex. 12" required="">
				</div>
				<div>
					<label for="length_product" class="block mb-2 text-sm font-medium text-white">Length (cm)</label>
					<input type="number" name="length_product" id="length_product" class="border text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500" value="105" placeholder="Ex. 105" required="">
				</div>
				<div>
					<label for="breadth_product" class="block mb-2 text-sm font-medium text-white">Breadth (cm)</label>
					<input type="number" name="breadth_product" id="breadth_product" class="border text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500" value="15" placeholder="Ex. 15" required="">
				</div>
				<div>
					<label for="width_product" class="block mb-2 text-sm font-medium text-white">Width (cm)</label>
					<input type="number" name="width_product" id="width_product" class="border text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-primary-500 focus:border-primary-500" value="23" placeholder="Ex. 23" required="">
				</div>
			</div>
		</div>
		<div class="grid grid-cols-2 gap-4 mt-6 sm:w-1/2">
			<button type="submit" class="text-white bg-primary-700 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">Update product</button>
			<button data-id="" id="deleteProductEdit" type="button" class="inline-flex justify-center items-center border focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center border-red-500 text-red-500 hover:text-white hover:bg-red-600 focus:ring-red-900">
				<svg aria-hidden="true" class="w-5 h-5 mr-1 -ml-1" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd" />
				</svg>
				Delete
			</button>
		</div>
	</form>

	<div id="previewProductModal" class="overflow-y-auto fixed top-0 left-0 bgred z-40 p-4 w-full max-w-lg h-screen hidden flex-col animate-displace-invert bg-gray-800" tabindex="-1" aria-labelledby="drawer-label" aria-hidden="true">
		<div>
			<h4 id="name_product" class="mb-1.5 leading-none text-xl font-semibold text-white">Apple iMac 25"</h4>
			<h5 id="price_product" class="mb-5 text-xl font-bold text-white">$2999</h5>
		</div>
		<button id="closePreviewProductModal" type="button" data-drawer-dismiss="drawer-read-product-advanced" aria-controls="drawer-read-product-advanced" class="text-gray-400 bg-transparent rounded-lg text-sm p-1.5 absolute top-2.5 right-2.5 inline-flex items-center hover:bg-gray-600 hover:text-white">
			<svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
			</svg>
			<span class="sr-only">Close menu</span>
		</button>
		<div id="content-images-preview" class="grid grid-cols-3 max-[480px]:grid-cols-2 max-[380px]:grid-cols-2 gap-4 mb-4 sm:mb-5">
			<div class="p-2 w-auto rounded-lg bg-gray-700">
				<img src="https://flowbite.s3.amazonaws.com/blocks/application-ui/products/imac-side-image.png">
			</div>
		</div>
		<dl class="sm:mb-5"><dt class="mb-2 font-semibold leading-none text-white">Details</dt><dd id="description_product" class="mb-4 font-light sm:mb-5 text-gray-400">Standard glass ,3.8GHz 8-core 10th-generation Intel Core i7 processor, Turbo Boost up to 5.0GHz, 16GB 2666MHz DDR4 memory, Radeon Pro 5500 XT with 8GB of GDDR6 memory, 256GB SSD storage, Gigabit Ethernet, Magic Mouse 2, Magic Keyboard - US.</dd></dl>
		<dl class="grid grid-cols-2 gap-4 mb-4">
			<div class="p-3 rounded-lg border bg-gray-700 border-gray-600"><dt class="mb-2 font-semibold leading-none text-white">Sold by</dt><dd class="text-gray-400">{user_data.username}</dd></div>
			<div class="p-3 rounded-lg border bg-gray-700 border-gray-600"><dt class="mb-2 font-semibold leading-none text-white">Brand</dt><dd id="brand_product" class="text-gray-400">Apple</dd></div>
			<div class="p-3 rounded-lg border bg-gray-700 border-gray-600"><dt class="mb-2 font-semibold leading-none text-white">Dimensions (cm)</dt><dd id="dimensions_product" class="text-gray-400">105 x 15 x 23</dd></div>
			<div class="p-3 rounded-lg border bg-gray-700 border-gray-600"><dt class="mb-2 font-semibold leading-none text-white">Item weight</dt><dd id="weight_product" class="text-gray-400">12kg</dd></div>
		</dl>
		<div class="flex bottom-0 left-0 justify-center pb-4 space-x-4 w-full">
			<button id="editProductPreview" type="button" class="text-white w-full inline-flex items-center justify-center focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-blue-600 hover:bg-blue-700 focus:ring-blue-800">
				<svg aria-hidden="true" class="mr-1 -ml-1 w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z" />
					<path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd" />
				</svg>
				Edit
			</button>
			<button id="deleteProductPreview" type="button" class="inline-flex w-full items-center text-white justify-center focus:ring-4 focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center bg-red-500 hover:bg-red-600 focus:ring-red-900">
				<svg aria-hidden="true" class="w-5 h-5 mr-1.5 -ml-1" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
					<path fill-rule="evenodd" clip-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" />
				</svg>
				Delete
			</button>
		</div>
	</div>

	<div id="deleteProductModal" tabindex="-1" class="fixed animate-deployment hidden top-0 left-0 z-50 justify-center items-center p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
		<div class="relative w-full h-auto max-w-md max-h-full">
			<div class="relative rounded-lg shadow bg-gray-700">
				<button id="closeDeleteProductModal" type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent rounded-lg text-sm p-1.5 ml-auto inline-flex items-center hover:bg-gray-800 hover:text-white" data-modal-toggle="delete-modal">
					<svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
					</svg>
					<span class="sr-only">Close modal</span>
				</button>
				<div class="p-6 text-center">
					<svg aria-hidden="true" class="mx-auto mb-4 w-14 h-14 text-gray-200" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
					</svg>
					<h3 class="mb-5 text-lg font-normal text-gray-400">Are you sure you want to delete this product?</h3>
					<button data-modal-toggle="delete-modal" id="deleteProductConfirm" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">Yes, I'm sure</button>
					<button data-modal-toggle="delete-modal" id="deleteProductCancel" type="button" class=" focus:ring-4 focus:outline-none rounded-lg border text-sm font-medium px-5 py-2.5 focus:z-10 bg-gray-700 text-gray-300 border-gray-500 hover:text-white hover:bg-gray-600 focus:ring-gray-600">No, cancel</button>
				</div>
			</div>
		</div>
	</div>

	<div id="deleteProductSelectModal" tabindex="-1" class="fixed animate-deployment hidden top-0 left-0 z-50 justify-center items-center p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
		<div class="relative w-full h-auto max-w-md max-h-full">
			<div class="relative rounded-lg shadow bg-gray-700">
				<button id="closeDeleteProductSelectModal" type="button" class="absolute top-3 right-2.5 text-gray-400 bg-transparent rounded-lg text-sm p-1.5 ml-auto inline-flex items-center hover:bg-gray-800 hover:text-white" data-modal-toggle="delete-modal">
					<svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
					</svg>
					<span class="sr-only">Close modal</span>
				</button>
				<div class="p-6 text-center">
					<svg aria-hidden="true" class="mx-auto mb-4 w-14 h-14 text-gray-200" fill="none" stroke="currentColor" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4m0 4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
					</svg>
					<h3 class="mb-5 text-lg font-normal text-gray-400">Are you sure you want to delete this product?</h3>
					<button data-modal-toggle="delete-modal" id="deleteProductSelectConfirm" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center mr-2">Yes, I'm sure</button>
					<button data-modal-toggle="delete-modal" id="deleteProductSelectCancel" type="button" class=" focus:ring-4 focus:outline-none rounded-lg border text-sm font-medium px-5 py-2.5 focus:z-10 bg-gray-700 text-gray-300 border-gray-500 hover:text-white hover:bg-gray-600 focus:ring-gray-600">No, cancel</button>
				</div>
			</div>
		</div>
	</div>
</Layout>
